@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(33, 34, 42, 1);
  color: aliceblue;
}
nav{
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 10px rgb(26, 29, 36);
}
.img{
  display: flex;
}
.img>img{
  padding: 5px;
}
.container{
  font-size: 25px;
}
.container>h2{
  text-align: center;
}
.container>ul{
  margin: left 25px;;
  
}